<h2>Edit listing: </h2>

<form class="" action="/ecommerce_entries/<%= @ecommerce_entry.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="content">Description: </label><br>
  <textarea name="content" style="width:auto; height:auto;"><%= @ecommerce_entry.content %></textarea><br>
  <input type="submit" name="" value="Submit">
</form>