<h2> Create a new listing: </h2>

<form class="" action="/ecommerce_entries" method="post">
  <label for="content">Descrition: </label>
  <input type="text" name="content" value="">
  <input type="submit" name="" value="Create Entry">
</form>