<h3>Description:<h3>
<h4><%= @ecommerce_entry.content %></h4>
<br>
<% if authorized_to_edit?(@ecommerce_entry)%> 
  <a href="/ecommerce_entries/<%= @ecommerce_entry.id %>/edit">Edit Post</a>
  <br><br>
  <form class="" action="/ecommerce_entries/<%= @ecommerce_entry.id %>" method="">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete Post">
  </form>
<% end %>