<h1>Welcome to Sinatra Ecommerce App!</h1>
<br><br>
<h3>Thank you for visiting my Website.</h3>
<br>
  <div class="intro_text">
    <p>This is a simple Sinatra Application intended to be used for Ecommerce. Once you Sign Up and Log In you will be able to create,
    edit, and delete your own posts. Additionally, if you visit the See Listings section there will be displayed all of the existing posts from 
    the websites users. Each user will also have their own Profile where they can find all of their existing posts and a link directing to them;
    If you wish to visit one of them simply click on its title under the My Posts section. Last but not least, at the end of each post the profile
    of the author will be hyperlinked in their name.</p>
  </div>
<a href="/login">Log In</a> OR <a href="/signup">Sign Up</a>